huggingface_hub
diffusers
transformers==4.49.0
gradio_imageslider
torch==2.4.0
xformers==0.0.27.post2
torchvision
gradio==4.44.1
opencv-python==4.10.0.84
albumentations
beautifulsoup4
bitsandbytes
einops
imagehash
modelscope[framework]
ms-swift
open-clip-torch
opencv-transforms>=0.0.6
oss2>=2.15.0
pycocotools
scikit-image
scikit-learn
sentencepiece
tiktoken
torchsde
transformers-stream-generator